/*carousel*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    //width: 70%;
    margin: auto;
}



.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}
